<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Change Password</title>
    <link href="css/bootstrap-combined.min.css" rel='stylesheet'/>
  </head>
  <%= @user_session_status %>
  <%= @admin_functions_button %>
  <body class='container'>
    <h2>Change Password</h2><br>
    <p>Password can be up to 32 characters.</p>
    <%= @error_msg %>
    <div style="float:left;">
      <form method="POST" action="/change_password">
        <input type="password" placeholder="Old password" name="old_password"><br>
        <input type="password" placeholder="New Password" name="new_password"><br>
        <input type="password" placeholder="Re-enter New Password" name="new_password2"><br><br>
        <button type="submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" formmethod= "get" formaction="/biggestbass">Cancel</button>
      </form>
    </div>
  </body>
</html>
