<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Change Password</title>
    <link href="css/bootstrap-combined.min.css" rel='stylesheet'/>
  </head>
  <%= @user_session_status %>
  <body class='container'>
    <h2>Password changed successfully!</h2><br>
    <p>Click the login button below to sign back in with your new password.</p>
    <%= @error_msg %>
    <div style="float:left;">
      <form method="get" action="/logout">
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
