<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Biggest Bass Leaderboard - Unauthorized</title>
    <link href="css/bootstrap-combined.min.css" rel='stylesheet'/>
  </head>
  <body class='container'>
    <h1>Unauthorized Login</h1>
    <p><%= @message %></p>
  </body>
</html>
